h2 {
  text-align: center;
}

.container {
  padding: 1rem;
}

.submissionsTable {
  border-collapse: collapse;
  width: 100%;
}

.submissionsTable th,
.submissionsTable td {
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.submissionsTable td {
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}

.submissionsTable th {
  background-color: #f2f2f2;
}

.viewCertificateButton {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}